{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
        <header class="header">
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-list-item title">Teach'r</li>
                    <li class="menu-list-item">
                        <a class="menu-list-item-link" href="">Accueil</a>
                    </li>
                    <li class="menu-list-item current">
                        <a class="menu-list-item-link" href="">Mes cours</a>
                    </li>
                    <li class="menu-list-item">
                        <a class="menu-list-item-link" href="">Mon Profil</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="courses-program">
            <p class="next-course">Prochain cours : le lundi 23 décembre</p>
            <div class="courses">
                <div class="course">
                    <div class="course-title">
                        <h3 class="course-title-content">
                            Cours régulier de maths
                        </h3>
                        <h4 class="next-course-date">
                            Prochain cours : aujourd'hui
                        </h4>
                    </div>
                    <div class="course-teacher">
                        <img
                            src="{{ asset('img/backpack.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-teacher-name">Mehdi</p>
                    </div>
                    <div class="course-schedule">
                        <img
                            src="{{ asset('img/calendar.png') }}"
                            alt=""
                            class="icon"
                        />
                        <div class="course-schedule-container">
                            <p class="course-schedule-days">
                                Lundi, Mardi, Jeudi, Samedi
                            </p>
                            <p class="course-start-date">
                                A partir du samedi 3 octobre
                            </p>
                        </div>
                    </div>
                    <div class="course-duration"> <img class="icon"
                        src="{{ asset('img/clock.png') }}"/>
                        <div class="course-duration-container">
                            <p class="course-duration-content">1h30/jour</p>
                            <p class="course-start-hour">A partir de 14h30</p>
                        </div>
                    </div>
                    <div class="course-whatever">
                        <img
                            src="{{ asset('img/graduate.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-whatever-name">Shepard</p>
                    </div>
                    <div class="details">
                        <button class="details-button">
                            <a href="http://" class="details-button-link">
                                Détails</a
                            >
                        </button>
                    </div>
                </div>

                                <div class="course">
                    <div class="course-title">
                        <h3 class="course-title-content">
                            Cours régulier de maths
                        </h3>
                        <h4 class="next-course-date">
                            Prochain cours : aujourd'hui
                        </h4>
                    </div>
                    <div class="course-teacher">
                        <img
                            src="{{ asset('img/backpack.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-teacher-name">Mehdi</p>
                    </div>
                    <div class="course-schedule">
                        <img
                            src="{{ asset('img/calendar.png') }}"
                            alt=""
                            class="icon"
                        />
                        <div class="course-schedule-container">
                            <p class="course-schedule-days">
                                Lundi, Mardi, Jeudi, Samedi
                            </p>
                            <p class="course-start-date">
                                A partir du samedi 3 octobre
                            </p>
                        </div>
                    </div>
                    <div class="course-duration">
                        <img class="icon"
                        src="{{ asset('img/clock.png') }}"/>
                        <div class="course-duration-container">
                            <p class="course-duration-content">1h30/jour</p>
                            <p class="course-start-hour">A partir de 14h30</p>
                        </div>
                    </div>
                    <div class="course-whatever">
                        <img
                            src="{{ asset('img/graduate.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-whatever-name">Shepard</p>
                    </div>
                    <div class="details">
                        <button class="details-button">
                            <a href="http://" class="details-button-link">
                                Détails</a
                            >
                        </button>
                    </div>
                </div>

                                <div class="course">
                    <div class="course-title">
                        <h3 class="course-title-content">
                            Cours régulier de maths
                        </h3>
                        <h4 class="next-course-date">
                            Prochain cours : aujourd'hui
                        </h4>
                    </div>
                    <div class="course-teacher">
                        <img
                            src="{{ asset('img/backpack.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-teacher-name">Mehdi</p>
                    </div>
                    <div class="course-schedule">
                        <img
                            src="{{ asset('img/calendar.png') }}"
                            alt=""
                            class="icon"
                        />
                        <div class="course-schedule-container">
                            <p class="course-schedule-days">
                                Lundi, Mardi, Jeudi, Samedi
                            </p>
                            <p class="course-start-date">
                                A partir du samedi 3 octobre
                            </p>
                        </div>
                    </div>
                    <div class="course-duration">
                        <img class="icon"
                        src="{{ asset('img/clock.png') }}"/>
                        <div class="course-duration-container">
                            <p class="course-duration-content">1h30/jour</p>
                            <p class="course-start-hour">A partir de 14h30</p>
                        </div>
                    </div>
                    <div class="course-whatever">
                        <img
                            src="{{ asset('img/graduate.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-whatever-name">Shepard</p>
                    </div>
                    <div class="details">
                        <button class="details-button">
                            <a href="http://" class="details-button-link">
                                Détails</a
                            >
                        </button>
                    </div>
                </div>

                                <div class="course">
                    <div class="course-title">
                        <h3 class="course-title-content">
                            Cours régulier de maths
                        </h3>
                        <h4 class="next-course-date">
                            Prochain cours : aujourd'hui
                        </h4>
                    </div>
                    <div class="course-teacher">
                        <img
                            src="{{ asset('img/backpack.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-teacher-name">Mehdi</p>
                    </div>
                    <div class="course-schedule">
                        <img
                            src="{{ asset('img/calendar.png') }}"
                            alt=""
                            class="icon"
                        />
                        <div class="course-schedule-container">
                            <p class="course-schedule-days">
                                Lundi, Mardi, Jeudi, Samedi
                            </p>
                            <p class="course-start-date">
                                A partir du samedi 3 octobre
                            </p>
                        </div>
                    </div>
                    <div class="course-duration">
                        <img class="icon"
                        src="{{ asset('img/clock.png') }}"/>
                        <div class="course-duration-container">
                            <p class="course-duration-content">1h30/jour</p>
                            <p class="course-start-hour">A partir de 14h30</p>
                        </div>
                    </div>
                    <div class="course-whatever">
                        <img
                            src="{{ asset('img/graduate.png') }}"
                            alt=""
                            class="icon"
                        />
                        <p class="course-whatever-name">Shepard</p>
                    </div>
                    <div class="details">
                        <button class="details-button">
                            <a href="http://" class="details-button-link">
                                Détails</a
                            >
                        </button>
                    </div>
                </div>

                
            </div>
        </div>
{% endblock %}
